@use 'base/variable' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$verde;
    //jquery para telefone o responsive


    .contenido-header {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        color: v.$blanco;
        @include m.tablet{
            text-align: left;
            margin: 0;
        }
    }
}

.navegacion-principal {
    //agregamos responsive
    display: flex;//esto me da acceso al gap
    flex-direction: column;
    align-items: center;
    gap: 2rem; //esto separa mi menu 2 rem para que no se vea pegado
    @include m.tablet{
        flex-direction: row;

    }
    a {
        color: v.$blanco;
        font-size: 2.4rem;


        &:hover{//esto nos sirve para que cuando nos paremos encima el boton cambie de color
            color: v.$amarillo;  //el & sirve para anidar el home a esta clase css
        }
        
}
}

//los mixins pueden tomar parametros como funciones 
@mixin contenedor{  //@mixin es para generar el mixin
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.header-contenedor{
    @include contenedor;
    
}

.nav-contenerdor{
    @include contenedor; //@include es para utilizar el mixin
  
}