@use 'base/variable' as v;

.header {
    background-color: v.$verde;

    .contenido-header {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        color: v.$blanco;
        margin: 0;
    }
}

.navegacion-principal {
    display: flex; //esto me da acceso al gap
    gap: 2rem; //esto separa mi menu 2 rem para que no se vea pegado
    a {
        color: v.$blanco;
        font-size: 2.4rem;


        &:hover{//esto nos sirve para que cuando nos paremos encima el boton cambie de color
            color: v.$amarillo;  //el & sirve para anidar el home a esta clase css
        }
        
}
}

//los mixins pueden tomar parametros como funciones 
@mixin contenedor{  //@mixin es para generar el mixin
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.header-contenedor{
    @include contenedor;
    
}

.nav-contenerdor{
    @include contenedor; //@include es para utilizar el mixin
  
}