// src/scss/app.scss
@use './base//variable' as v; 
@use 'base/normaliza';

body {
  font-family: v.$fuente_principal; //llamo a la varia v. y despues con el $ llamo a  la variable de entorno que esta en _variable.scss = $fuente_principal : "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: v.$negro;
}
